<mat-nav-list>
  @for (item of menuItems.getMenuitem(); track item) {
    @if (item.type === "link") {
      <mat-list-item routerLinkActive="selected" (click)="recordCurrentPath(item)">
        <a [routerLink]="['/', item.path]">
          <span class="menu-content">
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.name }}</span>
          </span>
        </a>
      </mat-list-item>
    } @else if (item.type === "expansion") {
      <mat-list-item
        routerLinkActive="selected"
        (click)="toggleMenuState(item)"
        [class.expanded]="item.state === 'open'"
      >
        <a [routerLink]="['/', item.path]">
          <span class="menu-content">
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.name }}</span>
          </span>
          <mat-icon class="dd-icon">keyboard_arrow_down</mat-icon>
        </a>
      </mat-list-item>
      @if (item.state === "open") {
        <mat-nav-list class="sub-nav-list">
          @for (child of item.children; track child) {
            <mat-list-item routerLinkActive="selected" (click)="recordCurrentPath(child)">
              <a [routerLink]="['/', child.path]">
                <span class="menu-content">
                  <mat-icon>{{ child.icon }}</mat-icon>
                  <span>{{ child.name }}</span>
                </span>
              </a>
            </mat-list-item>
          }
        </mat-nav-list>
      }
    }
  }
</mat-nav-list>
